.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: museo-sans, sans-serif;
}

.site-content {
  flex: 1;
  z-index: 0;
  position: relative;
}

section {
  padding: 4.5rem 0;
}

.container {
  padding: 0 5%;
  @include responsive(desktop) {
    padding: 0 2%;
  }
}
