//PRIMARY BUTTON
.primary-btn {
  display: block;
  position: relative;
  width: 18rem;
  font-size: 1.6rem;
  background: var(--teal);
  padding: 1rem 0;
  z-index: 2;
  text-align: center;
  border-radius: 25rem;
  transition: all 0.2s ease-in-out;
  &:link,
  &:visited {
    color: white;
  }
  &:hover {
    background: var(--grey-blue);
  }

  @include responsive(desktop) {
    &:hover {
      box-shadow: 0 2px 10px rgba(65, 65, 65, 0.507);
      transform: translateY(-4px);
    }
    &:active {
      transform: translateY(1px);
    }
  }
}

//SECONDARY BUTTON
.secondary-btn {
  display: block;
  font-size: 1.4rem;
  background: var(--coral);
  padding: 0.5rem 3rem;
  border-radius: 25rem;
  text-align: center;
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    background: var(--grey-blue);
    box-shadow: 1px 1px 5px rgba(65, 65, 65, 0.507);
    &:link,
    &:visited {
      color: white;
    }
  }

  &:active {
    transform: translateY(1px);
  }
}
